In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
reg_det = pd.read_csv('WDataFiles_Stage1/WRegularSeasonDetailedResults.csv')
reg_det

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,2019,132,3195,72,3251,49,H,0,26,58,...,14,7,9,10,27,6,17,5,2,18
51578,2019,132,3283,94,3179,79,A,0,31,65,...,30,17,18,9,25,19,24,9,3,25
51579,2019,132,3343,65,3335,54,H,0,23,50,...,11,10,14,10,26,3,12,4,2,18
51580,2019,132,3347,57,3144,45,H,0,20,55,...,23,4,5,9,31,11,9,4,3,16
51581,2019,132,3352,65,3384,54,H,0,22,61,...,19,12,16,14,26,8,20,9,0,19

In [3]:
#Create GameID number
reg_det.reset_index(inplace=True)
reg_det.rename(columns={'index': 'GameID'}, inplace=True)
reg_det.head()

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14

In [4]:
reg_win = reg_det.copy()
reg_win

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,51577,2019,132,3195,72,3251,49,H,0,26,...,14,7,9,10,27,6,17,5,2,18
51578,51578,2019,132,3283,94,3179,79,A,0,31,...,30,17,18,9,25,19,24,9,3,25
51579,51579,2019,132,3343,65,3335,54,H,0,23,...,11,10,14,10,26,3,12,4,2,18
51580,51580,2019,132,3347,57,3144,45,H,0,20,...,23,4,5,9,31,11,9,4,3,16
51581,51581,2019,132,3352,65,3384,54,H,0,22,...,19,12,16,14,26,8,20,9,0,19

In [5]:
reg_win.rename(columns={'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc': 'Loc', 'WFGM': 'FGM', 'WFGA': 'FGA',
                        'WFGM3': 'FGM3', 'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA', 'WOR': 'OR', 'WDR': 'DR',
                        'WAst': 'Ast', 'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF', 'LTeamID': 'OTeamID',
                        'LScore': 'OScore', 'LFGM': 'OFGM', 'LFGA': 'OFGA', 'LFGM3': 'OFGM3', 'LFGA3': 'OFGA3',
                        'LFTM': 'OFTM', 'LFTA': 'OFTA', 'LOR': 'OOR', 'LDR': 'ODR', 'LAst': 'OAst', 'LTO': 'OTO',
                        'LStl': 'OStl', 'LBlk': 'OBlk', 'LPF': 'OPF'}, inplace=True)

In [6]:
reg_lose = reg_det.copy()
reg_lose.rename(columns={'WTeamID': 'OTeamID', 'WScore': 'OScore', 'WLoc': 'Loc', 'WFGM': 'OFGM', 'WFGA': 'OFGA',
                        'WFGM3': 'OFGM3', 'WFGA3': 'OFGA3', 'WFTM': 'OFTM', 'WFTA': 'OFTA', 'WOR': 'OOR', 'WDR': 'ODR',
                        'WAst': 'OAst', 'WTO': 'OTO', 'WStl': 'OStl', 'WBlk': 'OBlk', 'WPF': 'OPF', 'LTeamID': 'TeamID',
                        'LScore': 'Score', 'LFGM': 'FGM', 'LFGA': 'FGA', 'LFGM3': 'FGM3', 'LFGA3': 'FGA3',
                        'LFTM': 'FTM', 'LFTA': 'FTA', 'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast', 'LTO': 'TO',
                        'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF'}, inplace=True)

In [7]:
#Swap Home and Away
def loser_location(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return loc

In [8]:
reg_lose['Loc'] = reg_lose['Loc'].apply(loser_location)

In [9]:
reg_win['Result'] = 1
reg_lose['Result'] = 0

In [10]:
reg_win = reg_win[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [11]:
reg_lose = reg_lose[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [12]:
reg = pd.concat((reg_win, reg_lose)).reset_index(drop=True)

In [13]:
#Possessions = FGA-OR+TO+.475*FTA
reg['Poss'] = reg['FGA'] - reg['OR'] + reg['TO'] + 0.475 * reg['FTA']
reg['OPoss'] = reg['OFGA'] - reg['OOR'] + reg['OTO'] + 0.475 * reg['OFTA']
reg['Pace'] = (reg['OPoss'] + reg['Poss']) / 2

In [14]:
#Offensive Rating = Points/Pace * 100
#Defensive Rating = Opposing Points/Pace * 100
reg['OFF'] = reg['Score'] / reg['Pace'] * 100
reg['DEF'] = reg['OScore'] / reg['Pace'] * 100

In [15]:
reg.sort_values(by='TeamID')

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,OTO,OStl,OBlk,OPF,Result,Poss,OPoss,Pace,OFF,DEF
43772,43772,2018,75,H,0,3101,80,28,56,12,...,22,11,1,20,1,73.075,71.025,72.0500,111.034004,56.904927
29689,29689,2015,107,H,0,3101,76,25,54,10,...,27,7,7,21,1,66.925,67.750,67.3375,112.864303,60.887321
50333,50333,2019,103,A,0,3101,71,24,52,5,...,21,6,1,22,1,68.925,68.650,68.7875,103.216427,72.687625
80073,28491,2015,80,H,0,3101,58,20,60,10,...,22,6,2,16,0,66.125,67.500,66.8125,86.810103,94.293732
46910,46910,2019,15,A,0,3101,58,18,63,5,...,21,8,7,19,1,74.400,73.025,73.7125,78.684077,62.404613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102744,51162,2019,120,A,0,3466,48,19,54,3,...,28,12,1,14,0,71.750,71.800,71.7750,66.875653,84.987809
47914,47914,2019,42,A,0,3466,86,29,65,12,...,16,11,3,19,1,83.550,83.600,83.5750,102.901585,86.150165
102887,51305,2019,123,H,0,3466,53,22,63,4,...,15,5,4,9,0,66.325,66.025,66.1750,80.090669,83.112958
49173,49173,2019,75,H,0,3466,71,27,56,10,...,19,10,3,10,1,68.225,69.650,68.9375,102.991840,79.782412
50879,50879,2019,114,H,0,3466,68,24,58,8,...,20,10,3,23,1,73.600,74.550,74.0750,91.798853,79.649004

In [44]:
off_rating = reg.groupby(['Season', 'TeamID']).mean()

In [45]:
off_rating = off_rating[['OFF']]

In [46]:
off_rating.reset_index(inplace=True)

In [57]:
pace_rating = reg[reg.NumOT == 0]

In [59]:
pace_rating = reg.groupby(['Season', 'TeamID']).mean()
pace_rating = pace_rating[['Pace']]
pace_rating.reset_index(inplace=True)

In [62]:
def_rating = reg.groupby(['Season', 'OTeamID']).mean()
def_rating = def_rating[['DEF']]
def_rating.reset_index(inplace=True)

In [64]:
wins = reg.groupby(['Season', 'TeamID']).sum()
wins = wins[['Result']]

In [68]:
games = reg.groupby(['Season', 'TeamID']).count()
games = games[['Result']]

In [70]:
games.reset_index()

      Season  TeamID  Result
0       2010    3102      28
1       2010    3103      30
2       2010    3104      29
3       2010    3105      27
4       2010    3106      29
...      ...     ...     ...
3464    2019    3462      29
3465    2019    3463      29
3466    2019    3464      29
3467    2019    3465      25
3468    2019    3466      23

[3469 rows x 3 columns]