In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [5]:
teams = pd.read_csv('WDataFiles_Stage1/WTeams.csv')
teams.head()
teams[teams['TeamID']  == 3333]

     TeamID   TeamName
231    3333  Oregon St

In [3]:
seasons = pd.read_csv('WDataFiles_Stage1/WSeasons.csv')
seasons.head()

   Season     DayZero RegionW  RegionX  RegionY  RegionZ
0    1998  10/27/1997    East  Midwest  Mideast     West
1    1999  10/26/1998    East  Mideast  Midwest     West
2    2000   11/1/1999    East  Midwest  Mideast     West
3    2001  10/30/2000    East  Midwest  Mideast     West
4    2002  10/29/2001    East     West  Mideast  Midwest

In [4]:
seeding = pd.read_csv('WDataFiles_Stage1/WNCAATourneySeeds.csv')
seeding.head()

   Season Seed  TeamID
0    1998  W01    3330
1    1998  W02    3163
2    1998  W03    3112
3    1998  W04    3301
4    1998  W05    3272

In [5]:
seeding.merge(teams, validate='many_to_one').head()

   Season Seed  TeamID      TeamName
0    1998  W01    3330  Old Dominion
1    1999  W02    3330  Old Dominion
2    2000  X04    3330  Old Dominion
3    2001  Z11    3330  Old Dominion
4    2002  Y07    3330  Old Dominion

In [6]:
reg_season = pd.read_csv('WDataFiles_Stage1/WRegularSeasonCompactResults.csv')
reg_season.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998      18     3104      91     3202      41    H      0
1    1998      18     3163      87     3221      76    H      0
2    1998      18     3222      66     3261      59    H      0
3    1998      18     3307      69     3365      62    H      0
4    1998      18     3349     115     3411      35    H      0

In [7]:
tourney_compact = pd.read_csv('WDataFiles_Stage1/WNCAATourneyCompactResults.csv')
tourney_compact

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0       1998     137     3104      94     3422      46    H      0
1       1998     137     3112      75     3365      63    H      0
2       1998     137     3163      93     3193      52    H      0
3       1998     137     3198      59     3266      45    H      0
4       1998     137     3203      74     3208      72    A      0
...      ...     ...      ...     ...      ...     ...  ...    ...
1381    2019     147     3124      85     3234      53    N      0
1382    2019     147     3323      84     3390      68    H      0
1383    2019     151     3124      72     3332      67    N      0
1384    2019     151     3323      81     3163      76    N      0
1385    2019     153     3124      82     3323      81    N      0

[1386 rows x 8 columns]

In [8]:
tourney_detailed = pd.read_csv('WDataFiles_Stage1/WNCAATourneyDetailedResults.csv')
tourney_detailed

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,138,3124,69,3201,55,N,0,28,57,...,34,3,5,17,19,12,18,4,1,18
1,2010,138,3173,67,3395,66,N,0,23,59,...,27,14,15,18,26,8,8,8,6,22
2,2010,138,3181,72,3214,37,H,0,26,57,...,15,3,8,10,21,4,16,6,4,20
3,2010,138,3199,75,3256,61,H,0,25,63,...,20,17,22,16,21,13,16,5,4,24
4,2010,138,3207,62,3265,42,N,0,24,68,...,26,11,17,16,22,9,10,3,4,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,2019,147,3124,85,3234,53,N,0,37,70,...,10,14,20,7,19,12,16,11,1,14
626,2019,147,3323,84,3390,68,H,0,33,75,...,22,4,6,14,24,12,12,2,1,12
627,2019,151,3124,72,3332,67,N,0,31,57,...,32,5,7,14,19,14,13,7,1,15
628,2019,151,3323,81,3163,76,N,0,30,77,...,28,6,9,11,26,20,7,4,8,14
629,2019,153,3124,82,3323,81,N,0,39,73,...,13,18,22,20,23,18,10,4,4,13

In [9]:
events = []
for year in [2015, 2016, 2017, 2018, 2019]:
    events.append(pd.read_csv(f'wEvents{year}.csv'))
WEvents = pd.concat(events)
print(WEvents.shape)
WEvents.head()

(12744264, 17)

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area
0,1,2015,11,3103,3127,80,49,0,0,11,3103,95,miss2,lay,0,0,0
1,2,2015,11,3103,3127,80,49,0,0,11,3103,84,reb,off,0,0,0
2,3,2015,11,3103,3127,80,49,0,0,14,3103,84,made2,lay,0,0,0
3,4,2015,11,3103,3127,80,49,0,0,42,3127,823,miss2,jump,0,0,0
4,5,2015,11,3103,3127,80,49,0,0,42,3103,91,reb,def,0,0,0

In [17]:
WEvents.head(30)

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area
0,1,2015,11,3103,3127,80,49,0,0,11,3103,95,miss2,lay,0,0,0
1,2,2015,11,3103,3127,80,49,0,0,11,3103,84,reb,off,0,0,0
2,3,2015,11,3103,3127,80,49,0,0,14,3103,84,made2,lay,0,0,0
3,4,2015,11,3103,3127,80,49,0,0,42,3127,823,miss2,jump,0,0,0
4,5,2015,11,3103,3127,80,49,0,0,42,3103,91,reb,def,0,0,0
5,6,2015,11,3103,3127,80,49,0,0,43,3127,817,foul,unk,0,0,0
6,7,2015,11,3103,3127,80,49,0,0,55,3127,823,foul,unk,0,0,0
7,8,2015,11,3103,3127,80,49,0,0,71,3103,95,miss2,jump,0,0,0
8,9,2015,11,3103,3127,80,49,0,0,71,3127,817,reb,def,0,0,0
9,10,2015,11,3103,3127,80,49,0,0,73,3127,817,turnover,unk,0,0,0
10,11,2015,11,3103,3127,80,49,0,0,75,3103,95,made2,lay,0,0,0
11,12,2015,11,3103,3127,80,49,0,0,75,3103,98,assist,NaN,0,0,0
12,13,2015,11,3103,3127,80,49,0,0,96,3127,830,miss2,lay,0,0,0
13,14,2015,11,3103,3127,80,49,0,0,96,3103,84,reb,def,0,0,0
14,15,2015,11,3103,3127,80,49,0,0,109,3103,98,made2,jump,0,0,0
15,16,2015,11,3103,3127,80,49,0,0,131,3127,830,miss3,unk,0,0,0
16,17,2015,11,3103,3127,80,49,0,0,131,3103,84,reb,def,0,0,0
17,18,2015,11,3103,3127,80,49,0,0,140,3103,104,miss3,unk,0,0,0
18,19,2015,11,3103,3127,80,49,0,0,140,3127,807,reb,def,0,0,0
19,20,2015,11,3103,3127,80,49,0,0,158,3127,830,made2,lay,0,0,0
20,21,2015,11,3103,3127,80,49,0,0,177,3103,91,miss3,unk,0,0,0
21,22,2015,11,3103,3127,80,49,0,0,177,3127,817,reb,def,0,0,0
22,23,2015,11,3103,3127,80,49,0,0,184,3127,830,turnover,unk,0,0,0
23,24,2015,11,3103,3127,80,49,0,0,184,3103,104,made3,unk,0,0,0
24,25,2015,11,3103,3127,80,49,0,0,184,3103,84,assist,NaN,0,0,0
25,26,2015,11,3103,3127,80,49,0,0,184,3127,830,miss3,unk,0,0,0
26,27,2015,11,3103,3127,80,49,0,0,184,3103,91,reb,def,0,0,0
27,28,2015,11,3103,3127,80,49,0,0,184,3103,104,miss2,lay,0,0,0
28,29,2015,11,3103,3127,80,49,0,0,184,3127,817,reb,def,0,0,0
29,30,2015,11,3103,3127,80,49,0,0,184,3127,9053,made3,unk,0,0,0

In [16]:
WEvents.EventSubType.unique()

array(['lay', 'off', 'jump', 'def', 'unk', nan, 'short', 'in', 'out',
       'comm', 'deadb', 'other', 'full', 'tip', 'dunk', 'bpass', 'pers',
       '1of2', '2of2', 'trav', 'offdb', 'defdb', 'lostb', '1of1', 'start',
       'won', '3sec', 'lost', 'tech', 'dribb', 'drive', 'shotc', 'heldb',
       'offen', 'pullu', 'turna', 'coate', '1of3', '2of3', '3of3',
       'stepb', '10sec', 'hook', 'lanev', '5sec', 'lodge', 'admte',
       'outof', 'alley', 'block', 'bente', 'outrb', 'wrong'], dtype=object)

In [18]:
#Possessions = FGA-OR+TO+.475*FTA
list(tourney_detailed)

['Season',
 'DayNum',
 'WTeamID',
 'WScore',
 'LTeamID',
 'LScore',
 'WLoc',
 'NumOT',
 'WFGM',
 'WFGA',
 'WFGM3',
 'WFGA3',
 'WFTM',
 'WFTA',
 'WOR',
 'WDR',
 'WAst',
 'WTO',
 'WStl',
 'WBlk',
 'WPF',
 'LFGM',
 'LFGA',
 'LFGM3',
 'LFGA3',
 'LFTM',
 'LFTA',
 'LOR',
 'LDR',
 'LAst',
 'LTO',
 'LStl',
 'LBlk',
 'LPF']

In [37]:
reg_det = pd.read_csv('WDataFiles_Stage1/WRegularSeasonDetailedResults.csv')
reg_det

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,2019,132,3195,72,3251,49,H,0,26,58,...,14,7,9,10,27,6,17,5,2,18
51578,2019,132,3283,94,3179,79,A,0,31,65,...,30,17,18,9,25,19,24,9,3,25
51579,2019,132,3343,65,3335,54,H,0,23,50,...,11,10,14,10,26,3,12,4,2,18
51580,2019,132,3347,57,3144,45,H,0,20,55,...,23,4,5,9,31,11,9,4,3,16
51581,2019,132,3352,65,3384,54,H,0,22,61,...,19,12,16,14,26,8,20,9,0,19

In [38]:
list(reg_det)

['Season',
 'DayNum',
 'WTeamID',
 'WScore',
 'LTeamID',
 'LScore',
 'WLoc',
 'NumOT',
 'WFGM',
 'WFGA',
 'WFGM3',
 'WFGA3',
 'WFTM',
 'WFTA',
 'WOR',
 'WDR',
 'WAst',
 'WTO',
 'WStl',
 'WBlk',
 'WPF',
 'LFGM',
 'LFGA',
 'LFGM3',
 'LFGA3',
 'LFTM',
 'LFTA',
 'LOR',
 'LDR',
 'LAst',
 'LTO',
 'LStl',
 'LBlk',
 'LPF']

In [39]:
reg_det.reset_index(inplace=True)
reg_det.rename(columns={'index': 'GameID'}, inplace=True)
reg_det.head()

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14

In [61]:
reg_win = reg_det.drop(['LTeamID',
 'LScore',
 'LFGM',
 'LFGA',
 'LFGM3',
 'LFGA3',
 'LFTM',
 'LFTA',
 'LOR',
 'LDR',
 'LAst',
 'LTO',
 'LStl',
 'LBlk',
 'LPF'], axis=1)

In [62]:
reg_win.rename(columns={'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc': 'Loc', 'WFGM': 'FGM', 'WFGA': 'FGA', 'WFGM3': 'FGM3', 'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA', 'WOR': 'OR', 'WDR': 'DR', 'WAst': 'Ast', 'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF'}, inplace=True)

In [66]:
reg_win['Result'] = 1

In [45]:
reg_lose = reg_det.drop(['WTeamID',
 'WScore',
 'WFGM',
 'WFGA',
 'WFGM3',
 'WFGA3',
 'WFTM',
 'WFTA',
 'WOR',
 'WDR',
 'WAst',
 'WTO',
 'WStl',
 'WBlk',
 'WPF',
 ], axis=1)

In [47]:
reg_lose.rename(columns={'LTeamID': 'TeamID', 'LScore': 'Score', 'WLoc': 'Loc', 'LFGM': 'FGM', 'LFGA': 'FGA', 'LFGM3': 'FGM3',
                         'LFGA3': 'FGA3', 'LFTM': 'FTM', 'LFTA': 'FTA', 'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast', 'LTO': 'TO',
                         'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF'}, inplace=True)

In [48]:
reg_lose

,GameID,Season,DayNum,TeamID,Score,Loc,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,0,2010,11,3237,49,H,0,20,54,3,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3399,68,N,0,25,63,4,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3224,59,A,0,19,58,2,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3267,58,A,0,18,74,6,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3447,70,H,1,25,74,9,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,51577,2019,132,3251,49,H,0,19,53,4,14,7,9,10,27,6,17,5,2,18
51578,51578,2019,132,3179,79,A,0,24,56,14,30,17,18,9,25,19,24,9,3,25
51579,51579,2019,132,3335,54,H,0,20,56,4,11,10,14,10,26,3,12,4,2,18
51580,51580,2019,132,3144,45,H,0,18,61,5,23,4,5,9,31,11,9,4,3,16
51581,51581,2019,132,3384,54,H,0,19,57,4,19,12,16,14,26,8,20,9,0,19

In [49]:
def loser_location(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return loc

In [54]:
reg_lose['Loc'] = reg_lose['Loc'].apply(loser_location)

In [67]:
reg_lose['Result'] = 0

In [68]:
reg = pd.concat((reg_win, reg_lose)).reset_index(drop=True)

In [69]:
reg

,GameID,Season,DayNum,TeamID,Score,Loc,NumOT,FGM,FGA,FGM3,...,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,Result
0,0,2010,11,3103,63,H,0,23,54,5,...,12,19,10,26,14,18,7,0,15,1
1,1,2010,11,3104,73,N,0,26,62,5,...,16,28,16,31,15,20,5,2,25,1
2,2,2010,11,3110,71,A,0,29,62,6,...,7,12,14,23,18,13,6,2,17,1
3,3,2010,11,3111,63,A,0,27,52,4,...,5,9,6,40,14,27,5,10,18,1
4,4,2010,11,3119,74,H,1,30,74,7,...,7,11,14,33,18,11,5,3,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103159,51577,2019,132,3251,49,A,0,19,53,4,...,7,9,10,27,6,17,5,2,18,0
103160,51578,2019,132,3179,79,H,0,24,56,14,...,17,18,9,25,19,24,9,3,25,0
103161,51579,2019,132,3335,54,A,0,20,56,4,...,10,14,10,26,3,12,4,2,18,0
103162,51580,2019,132,3144,45,A,0,18,61,5,...,4,5,9,31,11,9,4,3,16,0
103163,51581,2019,132,3384,54,A,0,19,57,4,...,12,16,14,26,8,20,9,0,19,0

In [72]:
#Possessions = FGA-OR+TO+.475*FTA
reg['Poss'] = reg['FGA'] - reg['OR'] + reg['TO'] + 0.475 * reg['FTA']

In [76]:
reg.sort_values(by='Poss')

,GameID,Season,DayNum,TeamID,Score,Loc,NumOT,FGM,FGA,FGM3,...,FTA,OR,DR,Ast,TO,Stl,Blk,PF,Result,Poss
21520,21520,2014,31,3399,66,A,0,23,44,6,...,23,14,12,5,5,4,2,15,1,45.925
73102,21520,2014,31,3108,38,H,0,13,40,1,...,15,7,11,2,8,4,2,17,0,48.125
17798,17798,2013,72,3437,48,A,0,18,46,5,...,12,13,21,13,10,5,5,8,1,48.700
45169,45169,2018,103,3453,65,A,0,25,54,10,...,8,13,23,16,4,4,3,17,1,48.800
96751,45169,2018,103,3454,36,H,0,11,40,4,...,14,7,17,7,10,1,4,14,0,49.650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42898,42898,2018,51,3384,106,A,2,36,99,11,...,35,27,25,17,23,23,5,29,1,111.625
86485,34903,2016,108,3396,97,A,5,32,86,5,...,42,24,39,10,33,14,5,33,0,114.950
34903,34903,2016,108,3272,100,H,5,37,88,4,...,37,22,37,21,34,15,2,32,1,117.575
73113,21531,2014,32,3124,130,N,4,45,105,7,...,46,28,40,31,28,8,8,47,0,126.850
21531,21531,2014,32,3246,133,N,4,39,93,6,...,66,19,37,16,23,9,2,33,1,128.350